<section>
  <h3>Reservierung Hinzufügen</h3>
  <div class="crud-container">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput placeholder="E-Mail">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefon</mat-label>
      <input matInput placeholder="Telefon">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Personen</mat-label>
      <input matInput placeholder="Personen">
      <mat-icon matSuffix>supervisor_account</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Reservierungsart</mat-label>
      <mat-select placeholder="Reservierungsart">
        <mat-option value="option">Normal</mat-option>
        <mat-option value="option">Geburtstag</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Goodie</mat-label>
      <mat-select placeholder="Goodie">
        <mat-option value="option">Torte</mat-option>
        <mat-option value="option">Prosecco</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Datum">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Uhrzeit</mat-label>
      <input matInput placeholder="Uhrzeit">
      <mat-icon matSuffix>schedule</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Status">
        <mat-option value="option">abgeschlossen</mat-option>
        <mat-option value="option">storniert</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Hinzufügen</button>
  </div>
</section>