@import '../../../styles';

.line-chart {
  width: 100%;
  padding: 10px 0;
}

.flexGroup {
  display: flex;
  overflow: hidden;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.flexGroup_card {
  padding: 20px;

  @media screen and (max-width: $mobile) {
    width: 100%;
    padding: 20px 0;
  }
}

mat-card-content {
  &.big-number {
    text-align: center;
    font-size: 38px;
    margin: 10px;
    font-weight: bold;
  }
}

mat-calendar {
  background-color: white;
  width: 300px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}