<section>
  <h3>Dashboard</h3>
  <div class="flexGroup">
    <div class="flexGroup_card">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Website Besuche</mat-card-title>
        </mat-card-header>
        <div class="line-chart">
          <canvas
                  baseChart
                  [chartType]="'line'"
                  [datasets]="chartData"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartClick)="onChartClick($event)">
          </canvas>
        </div>
        <mat-card-actions>
          <button mat-icon-button color="primary" focusable="false">
            <mat-icon>alarm</mat-icon>
          </button>
          <span>updated ... days ago</span>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="flexGroup_card">
      <mat-card class="dashboard-card">
        <div class="card-icon">
          <mat-icon>event</mat-icon>
        </div>
        <mat-card-header>
          <mat-card-title>Neue Reservierungen</mat-card-title>
        </mat-card-header>
        <mat-card-content class="big-number">5</mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="primary" focusable="false">
            <mat-icon>alarm</mat-icon>
          </button>
          <span>updated ... days ago</span>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="flexGroup_card">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="primary" focusable="false">
            <mat-icon>alarm</mat-icon>
          </button>
          <span>updated ... days ago</span>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="flexGroup_card">
       <mat-calendar></mat-calendar>
    </div>
  </div>
</section>