<div class="wrapper wrapper-full-page">
    <div class="background-image-full">
        <section class="authentication-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-bg">
                    <h2>Login</h2>
                    <mat-icon>account_circle</mat-icon>
                    <mat-form-field>
                        <input
                            type="email"
                            matInput
                            placeholder="E-Mail Adresse"
                            name="email"
                            email
                            formControlName="email"
                            required>
                        <mat-error *ngIf="isFieldInvalid('email')">E-Mail ist ungültig</mat-error>
                    </mat-form-field>

                    <mat-form-field hintLabel="Mind. 6 Zeichen">
                        <input
                            type="password"
                            matInput
                            placeholder="Passwort"
                            name="password"
                            formControlName="password"
                            required
                            minlength="6">
                        <mat-error *ngIf="isFieldInvalid('password')">Passwort ist ungültig</mat-error>
                    </mat-form-field>

                    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
                    <a routerLink="/forgot">Passwort vergessen?</a>
                </div>
            </form>
        </section>
    </div>
</div>
