@import 'variables';

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.wrapper {
  position: relative;
  top: 0;
}

.wrapper.wrapper-full-page {
  height: auto;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: bold;

  @media screen and (max-width: $tablet) {
    font-size: 18px;
  }
}

p {
  line-height: 24px;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
}

section {
  padding: 0 20px 15px 20px;
}

span {
  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
}
