//Colors
$white: #fff;
$black: #000;
$lc-blue: #486a87;
$lc-darkblue: #09203f;
$lc-lightgrey: #c2c4ca;
$lc-darkgrey: #404040;
$lc-gradient-blue: linear-gradient(to right, rgba(19,84,122,1) 0%,rgba(128,208,199,1) 100%);
$lc-gradient-darkblue: linear-gradient(to right, rgba(9,32,63,1) 0%,rgba(83,120,149,1) 100%);
$main-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);


// Device Breakpoints

$mobile-mini: 320px;
$mobile: 470px;
$tablet: 768px;
$desktop: 1023px;
$desktop--wide: 1440px;
$desktop--extra--wide: 1920px;
