<mat-sidenav-container class="sidenav-container" *ngIf="isLoggedIn$ | async">
    <mat-sidenav
            #drawer
            class="sidenav"
            fixedInViewport="true"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary">Logo</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" (click)="onClose()">
                <mat-icon>dashboard</mat-icon>
                <span class="nav-caption">Dashboard</span>
            </a>
            <a mat-list-item routerLink="/reservation" (click)="onClose()">
                <mat-icon>notes</mat-icon>
                <span class="nav-caption">Reservierungen</span>
            </a>
            <a mat-list-item routerLink="/" (click)="onClose()">
                <mat-icon>eject</mat-icon>
                <span class="nav-caption" (click)="onLogout()" *ngIf="isLoggedIn$ | async">Logout</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
