@import '../../styles';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-caption {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

mat-toolbar {
  &.toolbar-topnav {
    background: $lc-gradient-darkblue;

  }
  &.toolbar-sidenav {
    background: $lc-darkblue;
    color: $white;
  }
}
