<section>
    <h3>Übersicht Reservierungen</h3>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
                        <input matInput [formControl]="row.validator.controls['date']" [readonly]="!row.editing" placeholder="Date" [(ngModel)]="row.currentData.date">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell  *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
                        <input matInput [formControl]="row.validator.controls['name']" [readonly]="!row.editing" placeholder="Name" [(ngModel)]="row.currentData.name">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="age">
                <th mat-header-cell  *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
                        <input matInput [formControl]="row.validator.controls['age']" type="number" placeholder="Age" [(ngModel)]="row.currentData.age">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="actionsColumn">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i></button>
                </th>
                <td mat-cell *matCellDef="let row">
                    <button *ngIf="!row.editing" mat-icon-button color="accent" focusable="false" (click)="row.startEdit()">
                        <i class="fa fa-pencil mat-icon"></i>
                    </button>
                    <button *ngIf="row.editing" mat-icon-button color="accent" focusable="false" (click)="row.confirmEditCreate()">
                        <i class="fa fa-check mat-icon"></i>
                    </button>
                    <button mat-icon-button color="warn" focusable="false" (click)="row.cancelOrDelete()">
                        <i class="fa fa-times mat-icon"></i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</section>