.table-container {
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.mat-table {
  overflow: auto;
}

.mobile-label {
  display: none;
}

.mat-icon {
  height: auto;
}

.mat-header-cell {
  padding: 10px;
}

.mat-header-cell:first-child {
  padding-left: 24px;
}

.mat-cell {
  padding: 10px;
}

.mat-cell:first-child {
  padding-left: 24px;
}


@media(max-width: 870px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;

    &.action-label {
      width: 70px;
    }
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 20px 20px 0 20px;
  }

  .mat-cell {
    padding: 0;
  }

  .mat-cell:first-child {
    padding: 0;
  }
}
